$font-color-primary: #2878EB;
$font-color-secondary: #ffffff;
$font-color-blue: #42a5f5;
$font-color-blue2: #29b6f6;
$font-color-black: #120f2d;

$background-color-primary: #ffffff;
$background-color-secondary: #2878EB;
$background-color-blue1: #42a5f5;
$background-color-blue2: #29b6f6;

$border-color-primary: #42a5f5;
$border-color-secondary: #0288d1;
$border-color-info: #29b6f6;